<% include partials/header %>
    <title><%= campground.name %> - YelpCamp</title>
<% include partials/nav %>

    <h1><%= campground.name %></h1>
    
    <img src="<%= campground.image %>"></img>
    
    <p><%= campground.description %></p>
    
    <h3>Comments</h3>
<% campground.comments.forEach(comment => { %>
    <p>
        <strong><%= comment.author %></strong>: <%= comment.text %>
    </p>
<% }) %>
    
<% include partials/footer %>